.top-title
	font-size 20px
	line-height 28px
	color #fff
	text-align center
.server-top
	padding-top 138px
	padding-bottom 80px
	background-image: linear-gradient(to bottom ,
rgb( 219, 84, 52),rgb( 247, 171, 0) );
.category-title
	display inline-block
	width 33.3333%
	text-align center
.category
	margin-top 22px
	margin-bottom 33px
.category-txt
	font-size 14px
	color rgba( 0, 0, 0,.5)
	margin-top 9px
.category-icon
	font-size 30px
.category a
	color rgba( 0, 0, 0,.5)
@media(max-width: 320px)
	.top-title
		font-size 18px
