.server .intro-title
	font-size 22px
	padding 10px
	border-left 5px solid rgb( 255, 179, 0)
.server .intro-txt
	display block
	margin 0 auto
	padding 20px 22px 0px 22px
	font-size 14px
	line-height 20px
	color rgba(0, 0, 0, .54)
.server .intro-contain
	margin-bottom 34px
.server
	background-color #fafafa
	padding-bottom 10px
@media(max-width 768px)
	.server-height
		min-height calc(1024px - (52px + 45px))
@media(max-width 480px)
	.server-height
		min-height 0
