.team
  padding-top 80px
  padding-bottom 45px
  background-image: linear-gradient(to bottom, rgb(255, 143, 0), rgb(255, 248, 225));
.team-intro
  background-color #fff
  width 80%
  height 500px
  display block
  margin 0 auto
  padding 24px 14px 10px 14px
  border-radius 10px
  box-shadow: 5px 2px 46px rgba(255, 111, 0, 0.68)
.rule-title
  font-size 20px
  text-align center

