.team
  padding-top 80px
  padding-bottom 45px
  background-image: linear-gradient(to bottom, rgb(255, 143, 0), rgb(255, 248, 225));
.team-logo
  width 97px
  height 97px
  display block
  margin 0 auto
.team-name
  text-align center
  color rgb( 255, 111, 0)
.team-intro
  background-color #fff
  width 80%
  display block
  margin 0 auto
  padding 24px 14px 10px 14px
  border-radius 10px
  box-shadow: 5px 2px 46px rgba(255, 111, 0, 0.68)
.team-context
  font-size 14px
  line-height 20px
  margin-bottom 11px
.arrow-up-box
  position relative
.arrow-up
  width 0px
  height 0px;
  border-left 20px solid transparent
  border-right 20px solid transparent
  border-bottom 20px solid #fff
  font-size 0px
  line-height 0px
  position absolute
  bottom 0px
  left 46%
  right 46%
@media(max-width 768px)
  .team
    min-height calc(1024px - (80px + 52px + 45px))
  .team-intro
    padding: 54px 54px 50px 54px
    width 70%
  .team-context
    line-height 40px
@media(max-width 480px)
  .team
    min-height calc(800px - (80px + 52px + 45px))
  .team-intro
    padding 24px 14px 10px 14px
    width 80%
  .team-context
    line-height 20px
@media(max-width 414px)
  .team
    min-height calc(736px - (80px + 52px + 45px))
@media(max-width 375px)
  .team
    min-height 0
