body
  margin 0
  padding 0
.topbar
  background-color pink
  height: 25px;      /* equals max image height */
  width: 160px;
  border: 1px solid red;
  white-space: nowrap;
  text-align: center;
  margin: 1em 0;
.logo
  width 28px;
  height 28px
