body
  margin 0
  padding 0
.topbar
  background-color transparent
  padding: 14px 0;
  position fixed
  top 0px
  left 0px
  right 0px
.logo
  width 28px;
  height 28px
  vertical-align middle
  margin-left 20px
.title 
  margin-left 14px
  color white
.menu-icon
  display inline-block
  float right 
  margin-right 20px
  margin-top 4px
  color #fff