.product a
  text-decoration: none
  color rgba(0, 0, 0, .87)
@media(max-width: 768px)
  .product
    margin: 45px 60px 40px 60px !important
@media(max-width: 480px)
  .product
    margin: 45px 35px 40px 35px !important
