.home
	margin 0 auto
	width 100%
	height 434px;
	background-image url('/images/intro-bg.jpg')
	background-repeat no-repeat
	background-size 100%
.home-title
	color #fff
	padding-top 130px
	margin-left 37px
.home-txt
	font-weight bold
#typefield
	margin-left 75px
	line-height 32px
.two-btn
	margin-top 67px
.two-btn a
	text-decoration none
.contact-btn
	font-size 16px
	padding 12px
	width 64%
	color #fff
	background-image:linear-gradient(to right,rgb(219, 84, 52),rgb(255, 179, 0))
	border none
	display block
	margin 0 auto
.team-btn
	display block
	margin 0 auto
	text-align center
	margin-top 16px
	color #fff
.server-page
	padding 45px 30px 50px 30px
.server-title
	font-size 20px
	color rgba(0, 0, 0, 0.87)
.server-subtitle
	color rgba(0, 0, 0, 0.54)
.server-context
	color rgba(0, 0, 0, 0.87)
	font-size 14px
	line-height 22px
.know-more
	color rgb( 255, 111, 0)
	font-size 14px
	border 1px solid rgb( 255, 111, 0)
	background-color #fff
	padding 6px 11px 5px 7px
	margin-top 40px
.server-intro
	padding-top 45px
	padding-bottom 45px
	margin-right 15px
	margin-left 15px
	border-top 1px solid rgba(0, 0, 0, 0.12)
	border-bottom 1px solid rgba(0, 0, 0, 0.12)
	text-align center
.tool-img
	width 79px
	height 130px
	vertical-align top
.intro
	display inline-block
	margin-left 50px

.intro-title
	font-size 20px
	margin-bottom 10px
.intro-subtitle
	font-size 14px
	line-height 20px
	color rgba(0, 0, 0, 0.54)
	text-align left
#know-more
	margin-top 25px
	text-align right
.product
	margin 45px 35px 40px 35px

.product-intro
	font-size 20px
.product-subintro
	font-size 14px
	color rgba(0, 0, 0, 0.54)
	margin-top 10px
	margin-bottom 30px
.product-img
	width 100%
	display block
	margin 0 auto
.product-title
	margin-top 20px
	margin-bottom 20px
.product-container
	border-bottom 1px solid rgba(0, 0, 0, 0.12)
	margin-top 30px
.contact
	background-color rgb( 48, 48, 48)
	padding-top 31px
	padding-bottom 61px
.contact-title
	font-size 19px
	text-align center
	color #fff
hr
	width 54px
	height 3px
	border none
	background-color #fff

.tips
	margin-top 39px
	margin-left 12.8%
	margin-right 48px
	font-size 13px
	line-height 16px
	color rgba(255, 255, 255, 0.50)
.tips-text
	margin-left 12.8%
	margin-right 48px
	font-size 13px
	line-height 16px
	color rgba(255, 255, 255, 0.50)
.home-txt
	font-size 26px
	line-height 37px

@media(max-width: 768px)
	.contact-btn
		width 25%
	.home-title
		margin-left 150px
	.home-txt
		font-size: 30px
		line-height 47px
	#typefield
		font-size 20px
		margin-left 150px
	.server-title
		font-size 25px
	.server-subtitle
		font-size 20px
	.server-context
		font-size 18px
	.tool-img
		width 158px
		height 260px
	.intro-title
		font-size 25px
		margin-bottom 30px
	.intro-subtitle
		font-size 20px
	.server-page
		padding: 45px 100px 50px 100px
	.intro
		margin-top 20px
		margin-left: 115px;
	.product-intro
		font-size 25px
	.product-subintro
		font-size 20px
	.product-title
		font-size 25px
	.contact-title
		font-size 25px
	.basic-input
		font-size 20px
	.discription
		font-size 20px
@media(max-width: 480px)
	.intro
		margin-top: 0px
		margin-left: 50px
	.contact-btn
		width 64%
	.home-title
		margin-left 37px
	.home-txt
		font-size 26px
		line-height 37px
	#typefield
		margin-left 75px
		line-height 32px
		font-size: 16px
	.server-page
		padding: 45px 30px 50px 30px
	.server-title
		font-size 20px
	.server-subtitle
		font-size 16px
	.server-context
		font-size 14px
	.tool-img
		width 79px
		height 130px
	.intro-title
		font-size 20px !important
		margin-bottom 10px !important
	.intro-subtitle
		font-size 14px
	.product-intro
		font-size 20px
	.product-subintro
		font-size 14px
	.product-title
		font-size 20px
	.contact-title
		font-size 19px
	.basic-input
		font-size 14px
	.discription
		font-size 14px
@media(max-width: 320px)
	.home-title
		padding-top 110px !important
	.home-txt
		font-size: 20px !important
	#typefield
		font-size 14px !important
	.two-btn
		margin-top 50px !important
