.input-info
	margin-top 192px
.basic-input
	display block
	margin 0 auto
	width 75%
	height 40px
	border-radius 4px
	font-size 14px
	padding-left 14px
	margin-top 20px
.discription
	width 75%
	height 166px
	padding-left 14px
	padding-top 14px
	border-radius 4px
	display block
	margin 0 auto
	margin-top 20px
	font-size 14px
.post-btn
	padding 5px
	width 15%
	border none
	background-image linear-gradient(to right, rgb(219, 84, 52),rgb( 255, 111, 0))
	color #fff
	margin-left 11.5%
	margin-top 30px
	border-radius 2px
.star
	color #ff6f00
	width 70%
	display block
	margin 0 auto
	margin-top 10px
@media(max-width: 768px)
	.post-btn
		padding 10px
	.tips
		font-size 20px !important
		line-height 26px !important
	.tips-text
		font-size 16px !important
		line-height 22px !important
@media(max-width: 414px)
	.post-btn
		padding 5px
	.tips
		font-size 13px !important
		line-height 19px !important
	.tips-text
		font-size 13px !important
		line-height 19px !important
