.category-contain
  background-color #fafafa
  padding-bottom: 33px
.categorys .intro-title
	font-size 16px
	padding 10px
	line-height 22px
	border-left 5px solid rgb( 255, 179, 0)
.categorys .intro-txt
	display block
	margin 0 auto
	padding 20px 22px 0px 22px
	font-size 14px
	line-height 20px
	color rgba(0, 0, 0, .54)
.categorys .intro-contain
	margin-bottom 34px
	text-align center
table
	width 90%
table.gridtable {
	font-size:13px;
	color rgba( 0, 0, 0, 0.54)
	border-collapse: collapse;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
  margin-top 28px
}
table.gridtable th {
	padding: 9px;

}
table.gridtable td {
	padding: 8px;
	border-color: #666666;
	background-color: #ffffff;
}
tr.table-color td
	background-color:
rgb( 245, 245, 245)
tr.table-color th
	background-color:
rgb( 245, 245, 245)
.remarks
	margin-top 23px
	color rgba( 0, 0, 0, 0.38)
	font-size 13px
	line-height 19px
	padding-left 21px
	padding-right 21px
